{% extends 'base.html.twig' %}

{% block body %}
<div class="info">
   <div>{{equipos}}</div>
   <div>{{precio}}€</div>
   <div>{{zona}}</div>
   <div>{{fecha}}</div>
   <div>{{hora}}</div>
   <div>{{nombre}}</div>
<div>

<div class="escudo">
   <img src='../img/escudo.png' height="100px" width="100px"/>
<div>
   

{% endblock %}